.SearchPage{
    background-color: #f4f0e1;
    color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
}
.Search{
    padding: 0px 32px;
    padding-bottom: 32px;
    margin-bottom: 95px;
    /* border-color: black; */
    /* border-style: solid; */
}
.SearchCardGrid{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    padding-top: 16px;
    /* border-color: black;
     */
}
@media screen and (max-width: 640px) {
    .Search{
        padding: 16px;
        margin-bottom: 180px;
        margin-top: 24px;
        border-style: solid;
        border-color: black;
    }
    .SearchCardGrid{
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}